service cloud.firestore {
  match /databases/{database}/documents {

    match /portfolio /{portfolioId} {
      allow read;
      allow create: if isLoginUser() && validateUrl() && validateTitle()
      allow update: if isCreateUser() && validateUrl() && validateTitle()
    }
    match /user /{userId} {
      allow read;
      allow create;
      allow update;
    }

    function isLoginUser() {
    	return request.auth != null
    }
    function isCreateUser() {
    	return request.auth.uid == resource.data.uid
    }

    function getIncomingData() {
    	return request.resource.data
    }
    function validateLength(text, max) {
    	return text.size() <= max
    }

    function getUrl() {
    	return getIncomingData().url
    }
    function validateUrl() {
    	return validateLength(getUrl(), 2000)
    }

    function getTitle() {
    	return getIncomingData().title
    }
    function validateTitle() {
    	return validateLength(getTitle(), 32)
    }
  }
}
