@charset "UTF-8";

$base-color: #ffffff;
$main-color1: #28385E;
$main-color2: #516C8D;
$accent-color1: #6A91C1;
$accent-color2: #CCCCCC;

html {
  font-size: 62.5%;
}
body {
  color: $main-color1;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
h1 {
  font-size: 2.8rem;
  font-weight: 500;
}
h2 {
  font-size: 2.2rem;
  font-weight: 500;
}
h3 {
  font-size: 1.6rem;
  font-weight: 500;
}
a {
  color: $main-color1;
  text-decoration: none;
}
